.modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: flex;
}
.modal_open {
  display: flex;
}
.modal__main {
  position: relative;
  margin: auto;
  cursor: default;
}
.modal__close {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 12px;
  right: 12px;
  line-height: 0;
  outline: 1px solid transparent;
  border-radius: 3px;
}
.modal__close:focus-visible {
  outline-color: gray;
}

@media (max-width: 640px) {
  .modal {
    padding: 30px 15px;
  }
}

@media (max-width: 480px) {
  .modal__close {
    right: 6px;
  }
}
